body{
  background-color: #c5bebe;
  overflow:hidden;
  margin: 0;
}

h1{
  font-family: fantasy;
  font-size: 3em;
  text-align: center;
  padding: 5px;
  color: #6133c4;
  text-shadow: #6e6e6e 3px 10px 20px;
}

h1:hover {
    color: #ffffffa6;
}

.container-top {
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.container-bottom {
    display: flex;
    margin-top: 4%;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.carte {
    width: 170px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #6e6e6e;
    transition: transform .2s;
}

.carte:hover {
    transform: scale(1.3); 
}

object {
    margin-top: 2.5%;
}